<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cadastro de Clientes</title>
    <link rel="stylesheet" href="./../../css/bootstrap.min.css">
    <link rel="stylesheet" href="./../../css/mystyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="cadastro">

        <form action="/contatos/salvar_edit/<%=contato[0].cpf %>" class="form-horizontal" id="form-contato" method="POST">

            <legend>Dados do contato</legend>

            <div class="form-group">
                <label class="col-md-2" for="name">CPF</label>
                <div class="col-md-9">
                    <input class="form-control" name="cpf" id="cpf" type="number" value="<%=contato[0].cpf %>" disabled>
                    
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2" for="name">Nome</label>
                <div class="col-md-9">
                    <input class="form-control" name="nome" id="nome" type="text" value="<%=contato[0].nome %>" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2" for="sexo">Sexo</label>
                <div class="col-md-9">
                    <select class="form-control" name="sexo" id="sexo">
                              <option value="0" style="display:none;">Selecione uma opção...</option>
                                <option value="m" >Masculino</option>
                                <option value="f" >Feminino</option>
                                </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2" for="datanasc">Data Nasc</label>
                <div class="col-md-9">
                    <input class="form-control" name="nascimento" id="nascimento" type="datetime" value="<%=contato[0].nascimento %>" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2" for="celular">Celular</label>
                <div class="col-md-9">
                    <input class="form-control" name="telefone" id="telefone" type="text" value="<%=contato[0].telefone %>" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2" for="email">Email</label>
                <div class="col-md-9">
                    <input class="form-control" name="email" id="email" type="text" value="<%=contato[0].email %>" />
                </div>
            </div>

           <!-- <div class="form-group">
                <label class="col-md-2" for="foto">Foto</label>
                <div class="col-md-9">
                    <input class="form-control" name="foto" id="foto" type="file" />
                </div>
            </div>-->
            
            <div class="form-group">
                <label class="col-md-2" for="endereco">Endereço</label>
                <div class="col-md-9">
                    <input class="form-control" name="endereco" id="endereco" type="text" value="<%=contato[0].endereco %>" />
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-2" for="bairro">Bairro</label>
                <div class="col-md-9">
                    <input class="form-control" name="bairro" id="bairro" type="text" value="<%=contato[0].bairro %>" />
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-2" for="cidade">Cidade</label>
                <div class="col-md-9">
                    <input class="form-control" name="cidade" id="cidade" type="text" value="<%=contato[0].cidade %>" />
                </div>
            </div>

            </fieldset>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="index.html" class="btn btn-danger">Cancelar</a>

        </form>
    </div>

</body>

</html>
</body>
</html>