<!DOCTYPE html>
<html lang="pt-BR" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Contatos</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mystyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" ng-controller="MenuController">
        <div class="thumbnail custom-thumbnail">
            <img src="./img/logo.png" alt="logo">
        </div>
            <form action="/novo"> 
                <button type="submit" class="btn btn-primary" value="Novo">Novo</button>
            </form>

    <div class="container">
        <div ui-view>
            <table class="table table-condensed">
                <tr>
                    <td>Nome</td>
                    <td>Email</td>
                    <td>Telefone</td>
                </tr>
                <% for (var i = 0; i< contatos.length; i++){ %>
				<tr>
					<td><%= contatos[i].nome %></td>
					<td><%= contatos[i].email %></td>
					<td><%= contatos[i].telefone %></td>      
                    <td>
                        <a class="a-inside edit" href="/contatos/edit/<%=contatos[i].cpf%>">Edit</a>                       
                        <a class="a-inside delete" href="/contatos/delete/<%=contatos[i].cpf%>">Delete</a>                       
                    </td>                  
				</tr>
			    <% } %>
            </table>
            <form action="/contatos/filter/masculino"> <button type="submit" class="btn btn-primary">Contatos do Sexo masculino</button>  
        </div>
    </div>
</body>

</html>